<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="${TERMUX_PACKAGE_NAME}"
    android:sharedUserLabel="@string/shared_user_label">
    <!-- 读取您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 修改或删除您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        
    <application
        android:name=".TermuxTaskerApplication"
        android:label="@string/application_name"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:fullBackupOnly="false"
        android:supportsRtl="true">

        <activity
            android:name=".activities.TermuxTaskerActivity"
            android:exported="true"
            android:theme="@style/Theme.BaseActivity.DayNight.NoActionBar">

            

        </activity>

        <activity
            android:name=".EditConfigurationActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/plugin_name"
            android:theme="@style/Theme.BaseActivity.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:uiOptions="splitActionBarWhenNarrow">

            <intent-filter>

                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING"/>

            </intent-filter>

        </activity>

        <activity
            android:name="${TERMUX_PACKAGE_NAME}.shared.activities.TextIOActivity"
            android:exported="false"
            android:theme="@style/Theme.BaseActivity.Light.NoActionBar"
            tools:ignore="MissingClass"/>

        <receiver
            android:name=".FireReceiver"
            android:exported="true"
            android:process=":background"
            android:permission="${TERMUX_PACKAGE_NAME}.permission.RUN_COMMAND">

            <intent-filter>

                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING"/>

            </intent-filter>

        </receiver>

        <service
            android:name=".PluginResultsService"
            android:exported="false"/>

        <activity android:name=".MainActivity">
            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>

    </application>

</manifest>
